/* FUENTES */
@font-face {
    font-family: "Muli";
    src: url("fonts/Muli-Regular.ttf") format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Muli-Black";
    src: url("fonts/Muli-Black.ttf") format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "WebSymbols";
    src: url("fonts/WebSymbols-Regular.otf") format('opentype'); 
    font-weight: normal;
    font-style: normal;
}



/* ESTILOS GENERALES */
*{
    font-family: Muli;
    margin: 0px;
    padding: 0px;
}

.font-size-13{
    font-size: 13px;
}

.w-20{
    width: 20%;
}

.font-family-websymbols{
    font-family: WebSymbols;
}

.cursor-pointer{
    cursor: pointer !important;
}

#principal-content{
    min-height: 500px;
}




/* CABECERA */
#text-search{
    background-color: #efefef;
    width: 350px !important;
}

::placeholder {
    color: #9A9A9A !important;
}

.form-control:focus{
    border: 1px solid #571f87;
    box-shadow: none;
}

#button-search{
    width: 50px;
    height: 38px;
    outline: none;
    background: url(../img/search.svg), linear-gradient(to bottom right, rgba(70,26,126,1), rgba(5,151,188,1));
    background-size: 20px, auto;
    background-repeat: no-repeat;
    background-position: center;
    border: 0px;
}

#button-search:hover{
    background: url(../img/search.svg), #571f87;
    background-size: 20px, auto;
    background-repeat: no-repeat;
    background-position: center;
    transition: none;
}

#button-search:focus{
    background: url(../img/search.svg), #571f87;
    background-size: 20px, auto;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: none;
}

.nav-link{
    text-transform: uppercase;
}

#account{
    padding-left: 25px;
}

#account:focus{
    outline: 0 none;
}

#account, #shop{
    color: #571f87;
    font-size: 10px;
}

#account div{
    background: url('../img/accountNormal.svg');
}

#shop .imagen{
    background-image: url('../img/shopNormal.svg');
}

#account img, #shop img{
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

#account:hover, #shop:hover{
    color: #3480DD;
}

#account:hover .imagen{
    background-image: url("../img/accountHover.svg");
}



/* MENU */
.navbar-nav > .nav-item > .nav-link{
    font-size: 14px;
    transition: 0.5s;
}

.navbar-nav > .nav-item:hover > .nav-link{
    color: #3480DD !important;
    transition: 0.5s;
    box-shadow: inset 0px -2px #3480DD;
}

#navbarNav li a{
    width: max-content;
}


/* PRODUCTO DESTACADOS, OFERTAS IMPERDIBLES, NOVEDADES */
.carousel-control-size{
    width: 35px;
    height: 50px;
}

#featured-products,
#news-products,
#offers-products{
    font-family: Muli-Black;
    font-size: 18px;
    color: #571f87;
}

#carousel-featured .carousel-item a > div,
#carousel-news .carousel-item a > div,
#carousel-offers .carousel-item a > div{
    max-width: 200px;
    height: 180px;
}

#carousel-featured .carousel-item a p,
#carousel-news .carousel-item a p,
#carousel-offers .carousel-item a p{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

#carousel-featured .carousel-item a .prices,
#carousel-news .carousel-item a .prices,
#carousel-offers .carousel-item a .prices{
    height: 55px;
}

#carousel-featured .carousel-item a .name-product,
#carousel-news .carousel-item a .name-product,
#carousel-offers .carousel-item a .name-product{
    height: 43px !important;
    overflow: hidden;
    margin-top: 10px;
}

#carousel-featured .carousel-item a .old-price,
#carousel-news .carousel-item a .old-price,
#carousel-offers .carousel-item a .old-price{
    font-size: 12px;
    margin-bottom: 16px;
}

#carousel-featured .carousel-item a .normal-price,
#carousel-news .carousel-item a .normal-price,
#carousel-offers .carousel-item a .normal-price{
    margin-bottom: 0px;
    color: #571f87;
}

.carousel-control-next, 
.carousel-control-prev {
    z-index: 0;
}



/* FOOTER */
.title-footer{
    font-size: 13px;
    color: #571f87;
}

footer a{
    font-size: 14px;
}

footer .text-secondary{
    font-size: 10px;
}

footer .text-dark:hover{
    color: #3480DD !important;
}

footer .payment-methods-size{
    max-width: 50px;
    height: 30px;
    padding: 5px;
}



/* LOGIN ACCOUNT */
#login-account{
    display: none !important;
    top: 0px;
    left: 0px;
    height: 485px;
    background: rgba(0,0,0,0.3);
    align-items: center;
    justify-content: center;
}

#login-account-content{
    padding: 25px;
    width: 400px;
}

#login-account-close{
    margin-top: -18px;
    margin-right: -18px;
}

#login-account-content label{
    font-size: 12px;
}

#login-account-content form > p{
    font-size: 12px;
}

#login-account-content form > p a{
    color: #571f87;
}

#login-enter,
#create-account{
    background: #571f87;
    border: none;
}

#login-enter:hover,
#create-account:hover{
    background: #6b339a;
}



/* SHOPPING CART */
#shopping-cart{
    display: none !important;
    top: 0px;
    left: 0px;
    height: 485px;
    background: rgba(0,0,0,0.3);
    align-items: center;
    justify-content: center;
}

#shopping-cart-content{
    padding: 25px;
    width: 400px;
}

#shopping-cart-close{
    margin-top: -18px;
    margin-right: -18px;
}












/* CATEGORIA Y BUSCAR */
#category-name,
#search-name{
    font-size: 16px !important;
    font-weight: bold;
    color: #571f87;
}

#category > div,
#search > div{
    justify-content: space-around;
    flex-wrap: wrap;
}

#category a,
#search a{
    width: 200px;
    padding: 8px;
}

#category a img,
#search a img{
    max-width: 200px;
    height: 180px;
}

#category a > p,
#search a > p{
    height: 43px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
}

#category a .prices,
#search a .prices{
    height: 55px;
    text-align: center;
}

#category a .normal-price,
#search a .normal-price{
    margin-bottom: 0px;
    color: #571f87;
    font-weight: bold;
    font-size: 14px !important;
}

#category a .old-price,
#search a .old-price{
    font-size: 12px;
    margin-bottom: 16px;
    font-weight: bold;
}











/* PRODUCTO */
#product > div{
    justify-content: center;
}

#product img{
    width: 400px;
    margin-right: 20px;
}

#product #product-name{
    font-size: 25px;
    font-weight: bold;
}

#product .normal-product-price{
    font-size: 22px;
    color: #571f87;
    font-weight: bold;
}

#product .old-product-price{
    align-self: flex-end
}

#product #product-buy{
    outline: none;
    background: linear-gradient(to bottom right, rgba(70,26,126,1), rgba(5,151,188,1));
    color: white;
    border: 0px;
}

#product #product-buy:hover{
    background: #571f87;
    transition: none;
}

#product #product-buy:focus{
    background: #571f87;
    box-shadow: none;
}

#product .dropdown-menu{
    min-width: 104px !important;
    padding: 4px;
}

#product .dropdown-menu .dropdown-item{
    text-align: center;
}

#product #featured h3{
    font-size: 14px;
    text-align: center;
    color: #571f87;
    font-weight: bold;
}

#product #featured p{
    font-size: 18px;
    text-align: center;
}








/* CONTACTO */
#contact #contact-title{
    color: #571f87;
    font-size: 20px;
    font-weight: bold;
}







/* MIS DATOS */
#mis-datos-title{
    font-size: 16px !important;
    font-weight: bold;
    color: #571f87;
}










/* RESPONSIVE */
@media (max-width: 1280px){

    /* CABECERA */
    #text-search{
        width: 280px !important;
    }

}

@media (max-width: 1024px){
    
    /* CABECERA */
    #header{
        margin: 0px !important;
        padding: 0px;
    }

    #carouselHome-content{
        max-width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }

    #text-search,
    #button-search{
        display: none;
    }

    #account{
        padding: 0px;
    }

    #account span,
    #shop span{
        display: none;
    }

    header{
        max-width: 100% !important;
    }

    /* PRODUCTO */
    #product img{
        width: 350px;
    }

}


@media (max-width: 820px) {

    /* PRODUCTO*/
    #product > div{
        justify-content: space-around;
        flex-direction: column;
        align-content: center;
    }

    #product img{
        margin-left: auto;
        margin-right: auto;
    }

    #product #product-name{
        margin-top: 10px;
        text-align: center
    }

    #product #product-price,
    #product #shop-buttons{
        justify-content: center;
    }

}


/* TABLET */
@media (max-width: 768px) {
    
    #principal-content{
        min-height: 400px;
    }

    #carousel-featured .carousel-item > div,
    #carousel-offers .carousel-item > div,
    #carousel-news .carousel-item > div{
        flex-wrap: wrap !important;
    }

    #carousel-featured .carousel-item a,
    #carousel-offers .carousel-item a,
    #carousel-news .carousel-item a{
        width: 50% !important;
    }

    /* FOOTER */
    footer > div{
        flex-direction: column !important;
    }

    footer #company{
        display: none;
    }

    footer #social{
        margin-bottom: 20px;
    }

    footer #social,
    footer #payment-methods{
        text-align: center;
    }

    footer #social p,
    footer #payment-methods p{
        display: none;
    }

}

@media (max-width: 575px) {

    /* PRODUCTOS DESTACADOS */
    #featured-products-content,
    #offers-products-content,
    #news-products-content{
        margin-top: 20px !important;
    }

    /* CONTENIDO PRINCIPAL */
    #principal-content{
        padding-bottom: 20px !important;
    }

}

@media (max-width: 378px) {

    /* PRODUCTO */
    #product img{
        width: 100%;
    }

    #product #shop-buttons{
        flex-direction: column;
    }

    #product #shop-buttons .dropdown{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 12px;
    }

}